@import "theme/variables";

.GridView__DataGrid {
  height: 100%;

  .woGridEllipsis {
    display: none;
  }
  .GridView__ContextMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .ReactTable .rt-table {
    display: block;
  }

  .ReactTable .rt-tr-group:hover {
    // .rt-tr, .rt-td {
    //   // background: var(--DataGrid-row-highlight-color) !important;
    // }
    // .rt-tr {
    //   // border: 2px solid var(--DataGrid-row-highlight-color) !important;
    // }
    border-top: 2px solid var(--DataGrid-row-highlight-color) !important;
    border-bottom: 2px solid var(--DataGrid-row-highlight-color) !important;
    .woGridEllipsis {
      display: inline;
      margin-top: 2px;
    }
  }
}

.DataGrid .rt-thead .rt-tr {
  background-color: #cfd7e6 !important;
}

.DataGrid.-col-sortable .rt-thead .rt-th {
  background-color: #cfd7e6;
}

.GridView__unAssignContent {
  padding: 10px;
}

.Grid.GridContainer__work-order.slds-grid.slds-grid--vertical {
  overflow-y: hidden !important;
}
