// fonts
$font-family: sans-serif;

// colors
$color-white: #fff;
$color-dark-gray: #222;
$color-medium-gray: #666;
$color-light-gray: #ccc;
$popover-walkthrough-color-background: rgba(3, 46, 97, 1);

//ServiceMax
$svmx-banner: #fcf3ef;
$svmx-progress-bg: #dadada;
$svmx-progress-success: #85cc00;
$svmx-progress-failure: red;
$svmx-icon-hover: #005fb2;
$svmx-progress-failure: #ff5100;

@function contrasting-color($color) {
  @debug "Property #{$color} must be either left or right.";
  @if (lightness(#abcdef) > 50) {
    @return #000000; // Lighter backgorund, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}
