.THIS .disabledWizStep{
    color: #dddbda !important;
    text-decoration: none;
    pointer-events: none;
}
.THIS .iconTop{
    margin-top: -3px !important;
}

.THIS .sfmIcon{
    background-color: #2ec7be ; 
}

.THIS .inventoryIcon{
    background-color: #4BCA81 ; 
}

.THIS .othersIcon{
    background-color: #62B7ED ; 
}

.THIS .opDocIcon{
    background-color: #F2D05B ; 
}

.THIS .checklistIcon{
    background-color: #7F8DE1;
}