.WorkOrderFieldUpdate {
  .WorkOrderFieldUpdate__Content {
    padding: 0.5rem;
  }

  .WorkOrderFieldUpdate__Row {
    margin: 0.25rem;

    .WorkOrderFieldUpdate__Column {
      width: 15rem;
    }
  }

  .Picklist .Menu {
    position: fixed;
    z-index: 5000;
  }

  .Picklist__container {
    position: relative;
  }

  .Picklist__menu {
    width: inherit;
  }

  .Menu__list {
    max-height: 135px;
  }

  .DateTimeInput {
    width: 16rem;
    .Icon.Icon--none {
      width: 0px;
      height: 0px;
    }
    .TimeInput {
      .Menu__item--is-selected a {
        padding-right: 4px;
        padding-left: 4px;
      }
    }
  }

  .DateTimeInput .DateTimeInput__time {
    width: 6.75rem;
  }

  .DateTimeInput .Datepicker {
    left: -2rem;
    position: sticky;
    margin-left: -2em;
  }

  .DateInput .Datepicker {
    left: -2rem;
    position: sticky;
    margin-left: -2em;
  }
}
