@import "theme/variables.scss";

.EditEventSchedule {
  .EditEventSchedule__Separator {
    height: 0.1rem;
    background-color: $color-light-gray;
    margin: 0.5rem 0px;
  }

  .EditEventSchedule__Label {
    min-width: 5rem;
    margin: auto;
  }

  .EditEventSchedule__SubLabel {
    margin: auto 0.5rem;
  }

  .EditEventSchedule__InValidSchedule {
    color: $svmx-progress-failure;
    margin: 0.5rem 0px 0px 0px;
  }

  .EditEventSchedule__Row {
    padding: 0.1rem 0px;
    align-items: center;
  }

  .EditEventSchedule__Breakup {
    background-color: $color-light-gray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 100%;

    .EditEventSchedule__Breakup-center {
      display: flex;
      justify-content: center;
    }

    .EditEventSchedule__Breakup-start {
      display: flex;
      justify-content: flex-start;
    }
  }

  .Picklist .Menu {
    position: fixed !important;
    width: 12rem !important;
  }

  .DateInput .Datepicker {
    position: fixed !important;
    left: inherit;
    top: inherit;
  }
}
