.EditEventModal__Content {
  .EditEventContainer__Tab,
  .slds-container--left .EditEvent__tabs {
    height: 55vh;
    overflow-y: auto;
  }
  .marginTop {
    margin-top: 15px;
  }
  .marginTopTwentyEight {
    margin-top: 28px;
  }
}
