.ModalHeader__title {
  font-weight: bold;
}
.TeamAndTechnicianModel_DuelingPicklist {
  margin: 10px 10px 10px 20px;
}

.TeamAndTechnicianModel_Footer-reload {
  text-align: left;
  .TeamAndTechnicianModel_Footer-reload-input {
    max-width: 40px;
    text-align: center;
  }
}
