@import "theme/variables.scss";

.AdvancedSearch__Tab {
  overflow-y: hidden;

  .AdvancedSearch__Grid {
    height: 100%;

    .AdvancedSearch__Grid-title {
      align-items: center;
      margin-bottom: 0.25rem;
      line-height: 1.85rem;
    }

    .AdvancedSearch__ProdExp {
      height: 100%;

      .AdvancedSearch__ProdExp-textArea {
        height: 18rem;
      }
    }

    .AdvancedSearch__Grid-content {
      height: 100%;
      overflow-y: hidden;
      border: 1px solid $color-light-gray;
      border-radius: 2px;

      .AdvancedSearch__Grid-tableHeader {
        background-color: $color-light-gray;
        line-height: 1.875rem;
        align-items: center;
        justify-content: space-around;
        align-items: center;
        padding: 0px 10px;
      }

      .AdvancedSearch__Grid-tableContent {
        overflow-y: auto;
        height: 17.5rem;
        padding: 0px 10px;

        .Grid__row {
          margin: 5px 0px;
          justify-content: space-around;
          align-items: center;

          .Picklist__container,
          .InputWrapper {
            width: 99%;
          }
        }
      }
    }
    .AdvancedSearch__Grid-footer {
      align-items: center;
    }
  }
}
