.ViolationStatusModal__footer {
  text-align: center;
}

.ViolationStatusModal__content {
  padding: 10px;
}

.ViolationStatusModal__headerDiv {
  //border: 2px solid #d2d7da;
  border-top: 2px solid #d2d7da;
  border-bottom: 1px solid #d2d7da;
  border-left: 2px solid #d2d7da;
  border-right: 2px solid #d2d7da;
  //border-bottom: 1px solid #d2d7da;
  //color: white;                /* text color is white */
  //background: blue;            /* Content, padding will be blue */
  margin: 12px 12px 12px 12px;
  padding: 12px 0px 12px 12px; /* Note 0px padding right */
  list-style: none;
  //margin-left : 15px;
  //text-indent: 15px;
}

.ViolationStatusModal__div {
  //border: 1px solid #d2d7da;;
  border-bottom: 2px solid #d2d7da;
  //border-left: 2px solid #d2d7da;
  //border-right: 2px solid #d2d7da;
  //color: white;                /* text color is white */
  //background: blue;            /* Content, padding will be blue */
  //margin: 12px 12px 12px 12px;
  padding: 8px 8px 8px 8px; /* Note 0px padding right */
  //list-style: none
  //margin-left : 15px;
  //text-indent: 15px;
}

.ViolationStatusModal__divInner {
  //border: 1px solid #d2d7da;;
  border-bottom: 1px solid #d2d7da;
  //border-left: 2px solid #d2d7da;
  //border-right: 2px solid #d2d7da;
  //color: white;                /* text color is white */
  //background: blue;            /* Content, padding will be blue */
  //margin: 12px 12px 12px 12px;
  //padding: 8px 8px 8px 8px; /* Note 0px padding right */
  //list-style: none
  //margin-left : 15px;
  //text-indent: 15px;
}

.ViolationStatusModal__divStart {
  border-top: 3px solid #d2d7da;
  border-bottom: 3px solid #d2d7da;
  border-left: 3px solid #d2d7da;
  //margin: 12px 12px 12px 12px;
  //padding: 12px 0px 12px 12px;
}
.ViolationStatusModal__divCenter {
  border-top: 3px solid #d2d7da;
  border-bottom: 3px solid #d2d7da;
  //border-left: 2px solid #d2d7da;
  //margin: 12px -12px 12px -12px;
  padding: 12px -12px 12px 12px;
}
.ViolationStatusModal__divEnd {
  border-top: 3px solid #d2d7da;
  border-bottom: 3px solid #d2d7da;
  border-right: 3px solid #d2d7da;
  //margin: 12px 12px 12px 12px;
  // padding: 12px 0px 12px 12px;
}
