@import "theme/variables";
.FilterableTree {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  .FilterableTree__View {
    flex: 1;
    display: flex;
    overflow: auto;
    .FilterableTree__View--root {
      width: 100%;
      display: flex;
      min-height: -webkit-min-content;
    }
    .FilterableTree__Error {
      align-items: center;
      display: flex;
      overflow: auto;
      overflow-wrap: break-word;
      > div {
        min-width: 0;
        color: $svmx-progress-failure;
      }
    }
  }
  .FilterableTree__Filtering {
    position: relative;
  }
}
