.TeamAndTechnicianSearch__Tab {
  height: 350px;
}

.TeamSearch_radioButton {
  display: inline !important;
}

.TeamSearch__GridRow-radio {
  align-items: center;
  margin: auto;
  margin-top: 10px;
}

.TechnicianSearch__radioButton {
  display: inline !important;
}

.TechnicianSearch__GridRow-radio {
  align-items: center;
  margin: auto;
  margin-top: 10px;
}

.WorkOrderSearch__duelingPicklist {
  padding-top: 10px;
}

.TeamSearch__duelingPicklist {
  padding-top: 10px;
}

.TechnicianSearch__duelingPicklist {
  padding-top: 10px;
}
