.DeployUISettingsSettings_container {
  .Checkbox__group {
    .slds-checkbox--faux {
      position: absolute;
      margin-top: 3px;
      margin-left: -20px;
    }

    .slds-form-element__label {
      padding-top: 0;
    }

    .slds-checkbox__label {
      padding-left: 20px;
      margin-bottom: 0;
      display: inline-block;
    }
  }
}
