@import "theme/variables.scss";

.JDMDeleteEventModal__content {
  padding: 10px;
  .JDMDeleteEventModal__startTime {
    text-align: center;
  }
  .JDMDeleteEventModal__checkobox-later {
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .JDMDeleteEventModal__checkobox-earlier {
    padding-left: 25px;
  }

  .JDMDeleteEventModal__checkobox-unassign {
    padding-top: 25px;
  }
}

.JDMDeleteEventModal__Confirmation {
  .slds-modal__container {
    width: 25%;
  }
  .confirmation__Hightlight {
    font-weight: bold;
    color: $svmx-progress-failure;
  }
}
