@import "theme/variables";

.DataLoader {
  margin: 5px 0px;

  .DataLoader__title {
    display: inline-block;
    width: 50%;
  }

  .DataLoader__progress {
    background-color: $svmx-progress-bg;
    border-radius: 2px;
    display: inline-block;
    height: 100%;
    width: 50%;

    .DataLoader__progress-status {
      border-radius: 2px;
      height: 100%;
      text-align: center;
      transition: all 0.2s ease-out;
      -webkit-animation: move 2s linear infinite;
    }

    .DataLoader__progress-success {
      background-color: $svmx-progress-success;
    }

    .DataLoader__progress-failure {
      background-color: $svmx-progress-failure;
    }
  }
}

.DataLoaderChanged {
  margin: 5px 0px;

  .DataLoader__title {
    display: inline-block;
    width: 50%;
  }
  .DataLoader__progress {
    display: inline-block;
    height: 100%;
    width: 50%;
    .progress-bar {
      background-color: rgba(22, 50, 92, 1);
      display: inline-block;
      height: 25px;
      padding: 4px;
      width: 100%;
      border-radius: 5px;
      box-shadow: 0 1px 5px rgba(22, 50, 92, 1) inset, 0 1px 0 #444;
    }
    .progress-bar span {
      display: inline-block;
      height: 100%;
      max-width: 100%;
      border-radius: 3px;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
      transition: width 0.4s ease-in-out;
      background-color: #a5a5a5;
      text-align: center;
    }

    .blue span {
      background-color: #34c2e3;
    }

    .orange span {
      background-color: #fecf23;
      background-image: linear-gradient(top, #fecf23, #fd9215);
    }

    .green span {
      background-color: rgba(49, 183, 0, 0.9);
      background-image: linear-gradient(
        top,
        rgba(49, 183, 0, 1),
        rgba(49, 183, 0, 0.5)
      );
    }

    .red span {
      background-color: rgba(255, 0, 0, 0.9);
    }

    .stripes span {
      background-size: 30px 30px;
      background-image: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
      );

      animation: animate-stripes 3s linear infinite;
    }

    @keyframes animate-stripes {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 60px 0;
      }
    }
  }
}
