@import "theme/variables";

.MultipleAssignmentModal__content_w70 {
  .Modal__container {
    width: 70%;
  }
}

.MultipleAssignmentModal__content
  .WorkOrderDetail__GridRow
  .DateInput
  .DateInput__calendar-icon,
.MultipleAssignmentModal__content
  .WorkOrderDetail__GridRow
  .Picklist__input-icon {
  right: 0.4em;
}

.MultipleAssignmentModal {
  .slds-modal__container {
    max-width: 75% !important;
    margin-left: 23% !important;
    padding-top: 0px;
  }
  .MultipleAssignmentModal__content {
    min-height: 50vh;
    .MultipleAssignmentModal__content_GridRow {
      width: 100%;
    }
    .MultipleAssignmentModal__content-leftPanel {
      min-width: 22%;
    }
    .MultipleAssignmentModal__content-rightPanel {
      min-width: 78%;
    }
    .Tabs .Tab__item {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  @media (max-width: 64em) {
    .MultipleAssignmentModal__content {
      overflow-x: auto;
      .MultipleAssignmentModal__content-leftPanel {
        min-width: 18%;
      }
      .MultipleAssignmentModal__content-rightPanel {
        min-width: 82%;
      }
    }
  }
}

.MultipleAssignmentModal__footer {
  .MultipleAssignmentModal__footer-text {
    display: flex;
    align-items: center;

    .Icon {
      fill: $svmx-progress-failure;
      margin: 0.25em;
    }

    .error {
      color: $svmx-progress-failure;
    }
  }
}

.MultipleAssignmentModal__ConfirmDialog {
  .enabled {
    fill: #4caf50;
  }
  .disabled {
    fill: #f44336;
  }
}
