.eventRuleErrorDiv {
  padding: 10px;
  color: #ff0000;
}

.ConfTechViewModal__Confirmation {
  .slds-modal__container {
    width: 25%;
  }

  .align__center {
    display: flex;
    justify-content: space-around;
  }
}
