.MapContainer__spinner {
  align-items: center;
  display: flex;
  justify-content: center;
  align-self: center;
}

.MapContainer__Image {
  vertical-align: middle;
  border-radius: 50%;
}

.MapContainer__Name {
  display: inline-block;
}
