.THIS.legend {
    font-size: 1.25rem;
    color: rgb(22, 50, 92);
}

.THIS .clearFloats:before, .THIS .clearFloats:after {
    content: " "; 
    display: table !important;
}

.THIS  .clearFloats:after {
    clear: both;
}

.THIS .container .slice , .THIS .container.p50plus .slice {
	clip: rect(auto, auto, auto, auto);
}

.THIS .pie, .THIS .container .bar , .THIS .fill, .THIS .container.p50plus .fill {
	 position: absolute;
	  border: 0.123em solid #4bca80;
	  width: 0.755em;
	  height: 0.755em;
	  clip: rect(0em, 0.5em, 1em, 0em);
	  -webkit-border-radius: 50%;
	  -moz-border-radius: 50%;
	  -ms-border-radius: 50%;
	  -o-border-radius: 50%;
	  border-radius: 50%;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
}

.THIS .pie-fill, .THIS .container.p50plus .bar:after, .THIS .container.p50plus .fill {
	 -webkit-transform: rotate(180deg);
	  -moz-transform: rotate(180deg);
	  -ms-transform: rotate(180deg);
	  -o-transform: rotate(180deg);
	  transform: rotate(180deg);
}

.THIS .container {
	  position: relative;
	  font-size: 120px;
	  width: 1em;
	  height: 1em;
	  -webkit-border-radius: 50%;
	  -moz-border-radius: 50%;
	  -ms-border-radius: 50%;
	  -o-border-radius: 50%;
	  border-radius: 50%;
	  float: left;
	  background-color: #cccccc;
}

.THIS .container *, .THIS .container *:before, .THIS .container *:after {
	  -webkit-box-sizing: content-box;
	  -moz-box-sizing: content-box;
	  box-sizing: content-box;
}

.THIS .container.center {
	  float: none;
	  margin: 0 auto;
}

.THIS .container.green.small {
	  font-size: 57px;
}
.THIS.sla-comm-container {
    margin: 10px 5px 0;
    border: 1px solid #DDDBDA;
    border-radius: 4px;
    background-color: #FFFFFF;
    min-height: 80px;
    min-width: 210px;
    position: relative;
}
.THIS .sla-comm-lt-content {
    
}
.THIS .sla-comm-rt-content {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 57px;
	height: 57px;    
}
.THIS .slds-p-right_none img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 57px;
	height: 57px;
}
.THIS .clock-overtime-label {
    position: absolute;
    z-index: 1;
    bottom: 15%;
    font-size: 11px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-weight: normal;
}

.THIS .sla-comm-title {
    color: #3E3E3C;
    font-family: "Salesforce Sans";
    font-size: 13px;
    font-weight: bold;
    line-height: 17px;
    padding-left: 5px;
}

.THIS .sla-comm-dateTime {
	color: #706E6B;
    font-family: "Salesforce Sans";
    font-size: 17px;
    line-height: 22px;
    font-weight: normal;
    width: 125px;
    padding-left: 5px;
}

.THIS .container > span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    width: 57px;
    line-height: 57px;
    display: block;
    text-align: center;
    white-space: nowrap;    
    color: #3E3E3C;
    font-family: "Salesforce Sans";
    font-size: 11px;
    font-weight: normal;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
	}

.THIS .container:after {
    position: absolute;
    display: block;
    content: " ";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    width: 0.84em;
    height: 0.84em;
    
    top: 7px;
    left: 7px;
    background-color: #ffffff;
    width: 43px;
    height: 43px;
}

.THIS .container .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
}

.THIS .container:hover > span {
    font-weight: bold;
}

.THIS .container.green .bar, .THIS .container.gray .fill {
  border-color: #4bca80 !important;
}
.THIS .container.gray .bar, .THIS .container.gray .fill {
  border-color: #cccccc !important;
}