@import "theme/variables";
.SchedulerView {
  height: 100%;

  .Scheduler {
    height: 100%;

    .b-grid-headers .b-sch-current-time {
      display: none;
    }
    .b-grid-header .b-sch-timerange.b-sch-line {
      padding: 0 !important;
    }
    .b-tree-cell-inner {
      width: calc(100% + 8px);
    }

    .b-tree-cell-value {
      font-family: sans-serif;
      color: #000;
      font-style: normal;
      font-weight: 500;
      font-size: inherit;
      font-kerning: inherit;
      font-stretch: inherit;
      text-overflow: ellipsis;
      font-size: 0.98em;
    }

    .b-sch-tech-view-change {
      padding-right: 30px;
    }

    .b-sch-expand-all-btn,
    .b-sch-collapse-all-btn {
      width: 5.5rem;
    }

    .b-sch-expand-all-btn span,
    .b-sch-collapse-all-btn span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    #b-scheduler-4 {
      height: 100%;

      .b-horizontaltimeaxis {
        .b-sch-header-row.b-sch-header-row-0 {
          font-size: 0.75em;
          font-weight: bold;
        }
        .b-sch-header-row.b-sch-header-row-1 {
          font-size: 0.85em;
        }
        .b-sch-header-row.b-sch-header-row-2 {
          font-size: 0.85em;
        }

        .b-sch-header-timeaxis-cell {
          padding-left: 0.3em;
          justify-content: left;
        }
      }

      .b-grid-body-container {
        height: 100%;
      }

      .b-virtual-scrollers .b-virtual-scroller:not(:first-child) {
        overflow-x: hidden !important;
      }

      .b-icon-collapse-gridregion,
      .b-icon-expand-gridregion {
        visibility: hidden;
      }

      .b-timeline-subgrid .b-sch-line {
        border-left: 2px dotted var(--timeline-color);
        display: var(--timeLine-display);
        z-index: 9999;
      }
      .b-subgrid-8.b-virtual-scroller.b-widget-scroller {
        overflow-x: hidden !important;
      }
      .highlightRow {
        background-color: var(--highlight-tech);
      }
    }
  }

  .SchedulerView__label_Link.Button--type-neutral-gray {
    color: black;
    padding-left: 8px !important;
    padding-right: 8px;
    background-color: #e0e0e7;
    border: 1px solid #b0b0b7;
  }

  .b-grid-row.b-hover .RemoveItemColumn {
    display: inline;
    margin-top: 2px;
  }

  .b-columnlines .b-grid-cell:not(:last-child):hover .RemoveItemColumn {
    display: inline;
    margin-top: 2px;
  }

  .b-grid-header {
    //max-height: 5.0em;
  }

  .SchedulerView__Tech_div {
    .RemoveItemColumn {
      display: none;
    }
    width: 100%;
    justify-content: space-between;
    display: flex;
    .Label.slds-form-element__label {
      font-family: sans-serif;
      color: #000;
      font-style: normal;
      font-weight: 500;
      font-size: inherit;
      font-kerning: inherit;
      font-stretch: inherit;
      text-overflow: ellipsis;
      font-size: 0.98em;
    }
    span {
      position: absolute;
      right: 0;
    }
  }

  .SchedulerView__combo_div {
    align-items: center;
    display: flex;
    align-self: center;
    // justify-content: space-around;
    margin: 0.15em;
  }

  .SchedulerView__combo {
    width: 100%;
    //font-family: sans-serif;
    //background: #d8edff;
    text-shadow: none;
    color: #080707;
    padding-left: 0.75rem;
    border-color: #dddbda;
    background-color: white;
    font-size: inherit;
    font-weight: 400;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    transition: border 0.1s linear, background-color 0.1s linear;
    display: inline-block;
    padding: 0 1rem 0 0.75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
  }

  .b-selected + .b-tree-parent-row,
  .b-selected + .b-grid-row {
    border-top: 1px solid #e0e0e7;
  }
  .b-grid-header-text {
    padding: 0.4em 0 0 0;
  }

  .ConfirmModal__options-center {
    display: flex;
    justify-content: space-around;
  }
}

.b-subgrid-8.b-virtual-scroller.b-widget-scroller {
  overflow-x: hidden !important;
}

.SchedulerView__events {
  //position: absolute;
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  padding-left: 0.25rem;
  font-weight: bold;
  overflow-x: hidden;
  flex-direction: column;
  height: 100%;
  z-index: -1 !important;
}

.SchedulerView__events_overhead {
  //position: absolute;
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  padding-left: 0.25rem;
  font-weight: bold;
  overflow-x: hidden;
  flex-direction: column;
  height: 100%;
  z-index: -1 !important;
}

.b-sch-event {
  padding-left: 0;
}

.b-grid-headers .b-sch-nonworkingtime {
  //background-color: rgba(214, 214, 194,0.3);
}

.b-timeline-subgrid .b-sch-range {
  //background-color: rgba(214, 214, 194,0.3);
}

.b-grid-subgrid-locked {
  .b-grid-row {
    // &.b-hover,
    &.b-selected {
      .b-grid-cell {
        background-color: var(--highlight-tech) !important;
      }
    }
  }
}

.b-grid:not(.b-grid-splitter-inner) .b-timeline-subgrid .b-grid-row {
  &.b-selected {
    .b-grid-cell {
      background-color: #fff !important;
    }
  }
}

.SchedulerView__driveTimeStart {
  //position: sticky;
  background-color: inherit;
  height: 4px;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-left: 0.5em;
  font-size: 0.7em;
  z-index: -1 !important;
  &:before {
    content: "";
    width: 4px;
    height: 13px;
    background: inherit;
    display: block;
    top: 4px;
    position: absolute;
    left: 0px;
  }
}
.SchedulerView__driveTimeEnd {
  //position: sticky;
  right: -26px;
  background: inherit;
  height: 4px;
  width: 13px;
  border-radius: 2px;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-left: 0.5em;
  font-size: 0.7em;
  z-index: -1 !important;
  &:after {
    content: "";
    width: 4px;
    height: 13px;
    background: inherit;
    display: block;
    top: 4px;
    position: absolute;
    border-radius: 2px;
    right: 0;
  }
}

.SchedulerView__overNightStay {
  position: absolute;
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-bottom: 0.3rem;
  font-weight: bold;
  overflow-x: hidden;
  flex-direction: column;
  height: 100%;
  z-index: -1 !important;
  &:before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 70%;
    box-shadow: 5px 2px 0px 0px #fff;
    /* margin-right: 5px; */
    position: relative;
    left: -5px;
    top: 5px;
    margin: -5px;
    transform: rotate(-232deg);
  }
}

.b-tooltip-content {
  padding: 0.5rem;
  height: 100%;
  display: flex;
  flex: 1;
}

.SchedulerView__eventTooltip {
  user-select: text; /* supported by Chrome and Opera */
  -webkit-user-select: text; /* Safari */
  -khtml-user-select: text; /* Konqueror HTML */
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 18.5rem;
  min-width: 23rem;
  max-width: 23rem;
  text-align: left;

  .SchedulerView__eventTooltip-header {
    display: flex;

    .SchedulerView__eventTooltip-htitle {
      font-weight: bold;
      color: #000;
      flex: 1;
      display: flex;
      justify-content: space-around;
    }

    .SchedulerView__eventTooltip-closeIcon {
      svg {
        width: 20px;
        height: 20px;
      }
      button {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        overflow: hidden;
        outline: none;
      }
    }
  }

  .SchedulerView__subject {
    word-break: break-all !important;
  }

  .SchedulerView__eventTooltip-subHeader {
    background-color: #eff1f6;
    color: #000;
    float: left;
    user-select: text; /* supported by Chrome and Opera */
    -webkit-user-select: text; /* Safari */
    -khtml-user-select: text; /* Konqueror HTML */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */

    .SchedulerView__eventTooltip-layout {
      max-width: 15rem;
      float: left;
      margin-left: auto;
      margin-right: auto;
      word-break: break-all !important;

      .SchedulerView__eventTooltip-subject {
        word-wrap: break-all !important;
      }
    }
    .SchedulerView__eventTooltip-icons {
      float: right;
      user-select: none; /* supported by Chrome and Opera */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      button {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        overflow: hidden;
        outline: none;
      }
      svg {
        fill: #006bd6;
        width: 20px;
        height: 20px;
      }
      .Grid__row {
        display: flex;
        figure {
          margin: 2px;
          text-align: center;
        }
      }
    }
  }

  .SchedulerView__eventTooltip-hoverRule {
    width: 100%;
    max-height: 13.5rem;
    overflow: auto;
    word-break: break-word;
    color: #000;

    .SchedulerView__eventTooltip-hoverRuleItem {
      margin: 0px;
    }
  }
}

.SchedulerView__content {
  background-color: #d8edff;
  color: #000;
  float: left;
  min-width: 300px;
}

.SchedulerView__content {
  background-color: #ffffff;
  padding: 10px;
}

div.wrap {
  width: calc(100% - 15px);
  overflow: hidden;
  position: relative;
  display: inline-block;
  border: 1px solid #b0b0b7;
  min-height: 2em;
  border-radius: 0.25rem;
  max-width: 190px;
}

.b-grid.b-sort .b-grid-header.b-sort .b-grid-header-text::after {
  position: absolute;
  right: 0px;
}

.b-grid-header-text > .b-grid-header-text-content {
  width: calc(100% - 15px);
}

.SchedulerView .b-grid-header-text::after {
  position: absolute;
  right: 0;
}

select.dropdown {
  min-height: 2em;
  border-radius: 0.25rem;
  width: 100%;
  padding-left: 0.75rem;
  text-shadow: none;
  font-size: inherit;
  font-weight: 400;
  color: #080707;
  overflow: hidden;
  border: 1px solid #b0b0b7 !important;
  background-color: #e0e0e7;
  min-height: 2em;
  border-radius: 0.25rem;
  background: #e0e0e7;
  line-height: 2;
}

div.wrap:after {
  content: "";
  right: 11px;
  top: 10px;
  position: absolute;
  pointer-events: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

option {
  background: #ffffff;
}

.b-header-title {
  // display: none;
}

.b-gridbase.b-split .b-grid-splitter {
  transform: translateX(0px) !important;
}

.b-gridbase.b-split .b-grid-splitter .b-hover {
  transform: translateX(0px) !important;
}
