####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################
  
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false
offline=false
#ignoreSourceFiles=true
#scanComment=
#updateInventory=true
   
#projectPerFolder=true
#projectPerFolderIncludes=
#projectPerFolderExcludes=
   
#wss.connectionTimeoutMinutes=60
# Change the below URL to your WhiteSource server.
# Use the 'WhiteSource Server URL' which can be retrieved
# from your 'Profile' page on the 'Server URLs' panel.
# Then, add the '/agent' path to it.
#	wss.url=https://saas.whitesourcesoftware.com/agent
wss.url=https://app.whitesourcesoftware.com/agent
  
npm.ignoreJavaScriptFiles=false
npm.resolveDependencies=true
npm.includeDevDependencies=false
npm.runPreStep=true
npm.ignoreNpmLsErrors=true
npm.ignoreScripts=true
npm.yarnProject=true
 
#bower.resolveDependencies=false
#bower.runPreStep=true
   
#nuget.resolveDependencies=false
#nuget.restoreDependencies=true
   
#python.resolveDependencies=false
#python.ignorePipInstallErrors=true
#python.installVirtualenv=true
#python.resolveHierarchyTree=false
#python.requirementsFileIncludes = requirements.txt
#python.resolveSetupPyFiles=true
   
#maven.ignoredScopes=all
#maven.resolveDependencies=false
#maven.aggregateModules=true
#maven.ignorePomModules=false
  
#gradle.resolveDependencies = false
#gradle.runAssembleCommand = false
gradle.aggregateModules =true
 
#paket.resolveDependencies=false
#paket.ignoredGroups=
#paket.ignoreFiles=false
#paket.runPreStep=true
#paket.exePath=
 
#go.resolveDependencies=false
#go.collectDependenciesAtRuntime=true
#go.dependencyManager=
 
#ruby.resolveDependencies = false
#ruby.runBundleInstall = true
#ruby.overwriteGemFile = true
#ruby.installMissingGems = true
 
#sbt.resolveDependencies=false
#sbt.aggregateModules=true
#sbt.runPreStep=true
#sbt.targetFolder=
 
#html.resolveDependencies=false

#enableImpactAnalysis=true
 
##################################
# Organization tokens:
##################################
apiKey=5c22cc21675544d99fa869d99d96186230c9d50064414f2f90269a0b0e405980
 
#userKey is required if WhiteSource administrator has enabled "Enforce user level access" option
#userKey=
   
projectName=dcx
projectVersion=
projectToken=
   
productName=BO_And_Sync
productVersion=
productToken=62bb8cef36944eccbfd15cea44d9323c98da00b171434685b7276d0ed1d0f45a
#productToken=8c8acf369c5e4ea58b3a90ef5dec4560921941cdd8b646f9970a73cbbdb76916
#updateType=APPEND
#requesterEmail=user@provider.com
    
#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################

includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx **/*.m **/*.mm **/*.js **/*.php **/*.java **/*.jar **/*.gem **/*.rb **/*.dll **/*.cs **/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2 **/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py **/*.java **/*.class **/*.r **/*.aspx **/*.asp **/*.ex **/*.elr **/*.src  **/*.config **/*.html **/*.cshtml **/*.css **/*.json **/*.csproj **/*.cs 

#includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx 
   
#includes=**/*.m **/*.mm  **/*.js **/*.php
#includes=**/*.jar
#includes=**/*.gem **/*.rb
#includes=**/*.dll **/*.cs **/*.nupkg
#includes=**/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2
#includes=**/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py
#includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx **/*.m **/*.mm **/*.js **/*.php **/*.java **/*.jar **/*.gem **/*.rb **/*.cs **/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2 **/*.zip **/*.tar.gz **/*.egg **/*.whl **/*.py **/*.java **/*.class **/*.nupkg **/*.r **/*.aspx **/*.asp **/*.html **/*.cshtml **/*.css **/*.json
#includes=**/*.dll
   
## Exclude file extensions or specific directories by adding **/*.<extension> or **<excluded_dir>/**
excludes=**/*sources.jar **/*javadoc.jar
   
case.sensitive.glob=false
followSymbolicLinks=true
    
##################################
# Archive Properties
##################################
archiveExtractionDepth=2
#archiveIncludes=**/*.war **/*.ear
#archiveExcludes=**/*sources.jar
    
##################################
# Proxy settings
##################################
#proxy.host=
#proxy.port=
#proxy.user=
#proxy.pass=
    
##################################
# SCM settings
##################################
#scm.type=
#scm.user=
#scm.pass=
#scm.ppk=
#scm.url=
#scm.branch=
#scm.tag=
   
##############################################
# SCAN MODE: Linux package manager settings
##############################################
#scanPackageManager=true
  
##################################
# SCAN MODE: Docker images
##################################
#docker.includes=.*.*
#docker.excludes=.*.*
#docker.scanImages=true