@import "theme/variables";

.NonWoCreateEventModal {
  .NonWoCreateEventModal__Header {
  }
  .NonWoCreateEventModal__Content {
    min-height: 50vh;

    .NonWoEventCreateContainer__Tab,
    .NonWoEvent__tabs {
      height: 55vh;
      overflow-y: auto;
    }
    .Tabs .Tab__item {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .NonWoCreateEventModal__Footer {
    .StatusBar {
      background-color: #ebe9e8;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .StatusBar__Text {
        height: 100%;
        display: flex !important;
        align-items: center;
        position: relative;
        left: 5rem;
      }

      .warning {
        blink {
          animation: blinker 1s linear infinite;
          color: $svmx-progress-failure;
        }
        @keyframes blinker {
          50% {
            opacity: 0.5;
          }
        }
      }

      svg {
        fill: #f0733f;
        margin-right: 5px;
      }
    }
    .NonWOCreateEventModal__Footer-text {
      display: flex;
      align-items: center;
      .error {
        color: $svmx-progress-failure;
      }
    }
  }
}

.NonWOConfirmationDialog__Footer {
  display: flex;
  justify-content: space-around;
}
