.THIS {
    position: relative;
    overflow:hidden;
}


.THIS.small .scroll-container {
    max-height: 12rem;
}
.THIS.medium .scroll-container {
    max-height: 24rem;
}
.THIS.large .scroll-container {
    max-height: 36rem;
}
.THIS .fixedWidth {
    width: 250px ;
}

.THIS .show-less .inner-container {
  max-height: 300px;
  overflow: hidden;
}

.THIS .show-less .show-less-link {
  display: none;
}
.THIS .show-less .show-more-link {
  display: block;
}

.THIS .show-more .show-less-link {
  display: block;
}
.THIS .show-more .show-more-link {
  display: none;
}
.THIS .show-links {
  position: absolute;
  right: 0px;
  bottom: 0px;
  text-align: right;
  font-size: 12px;
}