.ConfTechView__tab {
  height: 370px;
  overflow-y: auto;
}

.ConfTechCalendar_gridRow {
  padding-bottom: 10px;
  align-items: center;

  .Picklist__container {
    width: 6rem;
  }
}

.ConfTechCalendar_gridItem {
  padding-left: 5px;
}

.EventColorRule__gridRow {
  padding-bottom: 10px;
}

.EventColorRule__header {
  padding-left: 10px;
  padding-bottom: 10px;
}

.EventColorRule__label {
  padding-left: 5px;
}

.ConfTechCalendar__input {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.ConfTechCalendar_startDate {
  padding-left: 5px;
  padding-right: 5px;
}

.ConfTechCalendar_text {
  padding-top: 5px;
}

.ConfTechCalendar_color-picker {
  .ColorPicker__selected-color {
    height: 22px;
    width: 22px;
    padding: 0;
  }
}
