@import "lib/package";

.FormFieldForm__footer {
  margin-top: 25px;
}

.FormFieldForm__notes {
  color: $color-gray-8;
  padding: 20px 10px 0;

  p {
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.CreateEvent__wrapper {
  padding: 10px;
  overflow-y: auto;
  height: 55vh;
  .Section {
    padding-left: 25px;
    padding-top: 10px;
    margin: 0;
  }
  .Grid__row:last-child {
    .DateInput .Datepicker,
    .TimeInput .Menu {
      top: unset;
      bottom: 32px;
    }
  }
}

.CreateEvent__row {
  margin-bottom: 5px;
}

.CreateEvent__duration {
  background: #c0c0c0;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.CreateEvent__label {
  font-weight: 300;
}

.CreateEvent__reset {
  align-items: center;
  margin: auto;
  margin-top: 10px;
}
.CreateEvent__errorColor.slds-form-element__label {
  color: #ff0000;
}

.CreateEvent__shcedule-long--job {
  padding-left: 20px;
}

.CreateEventModal__Content {
  .marginTop {
    margin-top: 15px;
  }
  .marginTopTwentyEight {
    margin-top: 26px;
    margin-right: 10px;
  }

  .EditEventContainer__Tab,
  .slds-container--left .CreateEvent__tabs {
    height: 55vh;
    overflow-y: auto;
  }
}

.CreateEvent__time-section {
  background: #f3f2f2;
  width: 90px;
  display: block;

  .Icon {
    margin-left: 5px;
  }
}

.CreateEvent_time_text {
  border-top: 1px solid #999;
  margin-top: 5px;
  text-align: center;
}
