.GridContainer__work-order {
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
  flex: 1;

  .GridRow__gridViewToolbar {
    flex: 0 1 auto;
  }

  .GridContainer__grid-row {
    .rt-tr-group:last-child {
      border-bottom: 1px solid #e3e5ed;
    }
  }

  .GridRow__gridViewRow {
    height: 75%;
    // flex: 1;

    .GridItem__gridView {
      height: 100%;
      width: 100%;
      // flex: 1;

      .GridView {
        min-height: 0px;
        height: 100%;
        flex: 1;
      }
    }
  }

  .rt-thead .rt-th:first-child,
  .rt-tbody .rt-td:first-child {
    padding-left: 5px;
    padding-right: 0;
  }

  .DataGrid.-col-sortable .rt-thead .rt-th .rt-resizable-header-content,
  .DataGrid.-col-sortable .rt-thead .rt-th div:first-child {
    padding: 0 10px 0 0;
  }
}
